<li class="comment">	
	<div class="comment_content">
		<table>
			<tr>
				<td><%= comment.vote_count %></td>
			</tr>
			<% unless current_user.has_voted?(comment) %>
				<tr>
					<td><%= link_to image_tag("up.png", :height => '10'), comment_upvote_path(comment) %></td>
				</tr>
				<tr>
					<td><%= link_to image_tag("down.png", :height => '10'), comment_downvote_path(comment) %></td>
				</tr>
			<% end %>
		</table>
		<%= comment.content %>
	</div>
	
	<p><%= User.find(comment.user_id).email %> | <%= link_to 'Reply', new_comment_comment_path(comment) %> 
	<% if current_user == comment.user %>
		 | 
		<%= link_to 'Edit Comment', "/#{comment.commentable_type.downcase}s/#{comment.commentable_id}/comments/#{comment.id}/edit" %>
	<% end %></p>
	
	<% unless comment.comments.empty? %>
		<ul class="comment_list">
			<%= render :partial => "comments/comment", :collection => comment.comments %>
		</ul>
	<% end %>
</li>