<li class="comment">	
	<div class="comment_content">
		<table>
			<% unless current_user && current_user.has_voted?(comment) %>
				<tr>
					<td id="up-comment-<%= comment.id %>"><%= link_to "▲", comment_upvote_path(comment), :remote => true %></td>
				</tr>
			<% end %>
			<tr>
				<td id="vote-<%= comment.id %>"><%= comment.reputation %></td>
			</tr>
			<% unless current_user && current_user.has_voted?(comment) %>
				<tr>
					<td id="down-comment-<%= comment.id %>"><%= link_to "▼", comment_downvote_path(comment), :remote => true %></td>
				</tr>
			<% end %>
		</table>
		<%= comment.content %>
	</div>
	
	<p><%= User.find(comment.user_id).email %> | <%= link_to 'Reply', new_comment_comment_path(comment) %> 
	<% if current_user == comment.user %>
		 | 
		<%= link_to 'Edit Comment', "/#{comment.commentable_type.downcase}s/#{comment.commentable_id}/comments/#{comment.id}/edit" %>
	<% end %></p>
	
	<% unless comment.comments.empty? %>
		<ul class="comment_list">
			<%= render :partial => "comments/comment", :collection => comment.comments %>
		</ul>
	<% end %>
</li>