<table>
	<% @articles.each do |article| %>
	  <tr>
			<td class="topline">
				<%= render "votes/votes", :votable => article %>
			</td>
			<td class="topline">
				<% if article.url? %>
					<%= link_to article.title, article.url %> | (<%= article.url %>)
				<% else %>
					<%= link_to article.title, article %>
				<% end %>
			</td>
		</tr>
		<tr>
			<td class="bottomline">
				created <%= time_ago_in_words(article.created_at) %> ago by <%= link_to article.user.email, article.user %> | <%= link_to pluralize(article.comments.count, 'comment'), article %> 
				<% if current_user == article.user %>
				 	| 
					<%= link_to "Destroy", article, method: :delete, data: { confirm: 'Are you sure?' } %>
				<% end %>
			</td>
		</tr>
		<tr>
			<td><div class="clear"></td>
		</tr>
	<% end %>
</table>

<br />

<%= link_to_next_page @articles, 'More' %>
