<!-- <p id="notice"><%= notice %></p> -->
<h1><%= @article.title %></h1>
<table>
	<% unless current_user && current_user.has_voted?(@article) %>
		<tr>
			<td id="up-article-<%= @article.id %>"><%= link_to "▲", article_upvote_path(@article), :remote => true %></td>
		</tr>
	<% end %>
	<tr>
		<td><span id="vote-<%= @article.id %>"><%= @article.vote_count %></span></td>
	</tr>
	<% unless current_user && current_user.has_voted?(@article) %>
	<tr>
		<td id="down-article-<%= @article.id %>"><%= link_to "▼", article_downvote_path(@article), :remote => true %></td>
	</tr>
	<% end %>
	<tr>
		<td><%= link_to @article.url, @article.url %></td>
	</tr>
	<tr>
		<td><%= @article.text %></td>
	</tr>
</table>

<% if current_user == @article.user %>
	<%= link_to "Edit", edit_article_path(@article) %> |
<% end %>
<%= link_to 'Back', articles_path %>

<h2>Comments</h2>

<p><%= link_to "Add a comment", new_article_comment_path(@article) %></p>

<ul class="comment_list">
	<%= render :partial => "comments/comment", :collection => @article.comments %>
</ul>