<!-- <p id="notice"><%= notice %></p> -->
<h1><%= @article.title %></h1>
<table>
	<tr>
		<td><%= @article.vote_count %></td>
	</tr>
	<% unless current_user.has_voted?(@article) %>
		<tr>
			<td><%= link_to image_tag("up.png", :height => '10'), article_upvote_path(@article) %></td>
		</tr>
		<tr>
			<td><%= link_to image_tag("down.png", :height => '10'), article_downvote_path(@article) %></td>
		</tr>
	<% end %>
	<tr>
		<td><%= link_to @article.url, @article.url %></td>
	</tr>
	<tr>
		<td><%= @article.text %></td>
	</tr>
</table>

<% if current_user == @article.user %>
	<%= link_to "Edit", edit_article_path(@article) %> |
<% end %>
<%= link_to 'Back', articles_path %>

<h2>Comments</h2>

<p><%= link_to "Add a comment", new_article_comment_path(@article) %></p>

<ul class="comment_list">
	<%= render :partial => "comments/comment", :collection => @article.comments %>
</ul>