<div class="form-page span4 offset4">
	<h1 class="form-title">Create an account</h1>

	<%= form_for @user, :html => { :class => "well span3" } do |f| %>
		<% if @user.errors.any? %>
		  <div id="error_explanation">
		    <h2><%= pluralize(@user.errors.count, "error") %> prohibited this article from being saved:</h2>

		    <ul>
		    <% @user.errors.full_messages.each do |msg| %>
		      <li><%= msg %></li>
		    <% end %>
		    </ul>
		  </div>
		<% end %>
	
		<div class="field">
			<%= f.label :email %><br />
			<%= f.text_field :email %>
		</div>
		<div class="field">
			<%= f.label :password %><br />
			<%= f.password_field :password %>
		</div>
		<div class="field">
			<%= f.label :password_confirmation %><br />
			<%= f.password_field :password_confirmation %>
		</div>
	
		<%= f.submit "Create Account", :class => "btn btn-primary" %>
	<% end %>
</div>