<h1><%= @user.email %></h1>

<table>
	<tr>
		<td>
  		<strong>Member since:</strong>
	  	<%= @user.created_at.strftime("%B %d, %Y") %>
		</td>
	</tr>
	<tr>
		<td>
			<strong>Articles submitted:</strong>
			<%= @user.articles.count %>
		</td>
	</tr>
	<tr>
		<td>
			<strong>Comments submitted:</strong>
			<%= @user.comments.count %>
		</td>
	</tr>
	<% if @user == current_user %>
		<tr>
			<td>
				<%= link_to 'Change your password', '/change_password' %>
			</td>
		</tr>
	<% end %>
</table>